/* Responsive Nav Bar */
@media all and (max-width: 600px) {
    nav ul {
    flex-direction: column;
    }
    nav ul li {
    text-align: center;
    }
    }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }